<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/fonts1/iconfont.css">
    <link rel="stylesheet" href="../css/animation.css">
</head>

<body>
    <div class="index-container">
        <nav>
            <div class="header">
                <span>产品管理员</span>
                <ul>
                    <li class="active"> 
                        <span class="iconfont">&#xeb94;</span>
                        <span>仪表板</span>
                    </li>
                    <li>
                        <span class="iconfont">&#xe647;</span>
                        <span>报告
                            <i class="iconfont icon">&#xe62c;</i>
                        </span>
                    </li>
                    <li>
                        <span class="iconfont">&#xf0179;</span>
                        <span>制品</span>
                    </li>
                    <li>
                        <span class="iconfont">&#xe678;</span>
                        <span>账号</span>
                    </li>
                    <li>
                        <span class="iconfont">&#xe706;</span>
                        <span>设置</span>
                    </li>
                </ul>
                <div class="header-rigth">
                    <span>管理员，退出</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="register">
        <div class="register_continer">
            <div class="register_title">
                <h4><b>欢迎来到仪表板，登录</b></h4>
            </div>
            <div class="username">
                <p>用户名</p>
                <input type="text" name="username" id="username">
                <p>密码</p>
                <input type="text" name="password" id="password">
                <button type="submit" id="login"><b>登录</b></button>
                <button type="submit" id="register"><b>忘了你的密码?</b></button>
            </div>
        </div>
    </div>
</body>
<script src="../js/login.js"></script>
</html>